In [35]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [5]:
someday = dt.date(2021,11, 21)

In [6]:
print(someday.year)
print(someday.month)
print(someday.day)

2021
11
21

In [7]:
str(someday)

'2021-11-21'

In [8]:
print(someday)

2021-11-21

In [9]:
str(dt.datetime(2010, 11, 22, 17, 13, 57))

'2010-11-22 17:13:57'

In [10]:
sometime = dt.datetime(2010, 11, 22, 17, 13, 57)

In [11]:
print(sometime.year)
print(sometime.month)
print(sometime.day)
print(sometime.hour)
print(sometime.minute)
print(sometime.second)

2010
11
22
17
13
57

## The `pandas Timestamp` Object

In [12]:
print(pd.Timestamp("2015-03-31"))
print(pd.Timestamp("2015/03/31"))
print(pd.Timestamp("2013, 11, 04"))
print(pd.Timestamp("1/1/2015"))
print(pd.Timestamp("19/12/2015"))
print(pd.Timestamp("12/19/2015"))
print(pd.Timestamp("4/3/2000"))
print(pd.Timestamp("2021-03-08 08:35:15"))
print(pd.Timestamp("2021-03-08 6:13:29 PM"))

2015-03-31 00:00:00
2015-03-31 00:00:00
2013-11-04 00:00:00
2015-01-01 00:00:00
2015-12-19 00:00:00
2015-12-19 00:00:00
2000-04-03 00:00:00
2021-03-08 08:35:15
2021-03-08 18:13:29

In [13]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [14]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [15]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [16]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [17]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [18]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [19]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [20]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [21]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [22]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [23]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [24]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [25]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
pd.Series([1, 2, 3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [26]:
pd.Period("2016-01-08", freq = "W")
pd.Period("2016-01-08", freq = "W-SUN")
pd.Period("2016-01-08", freq = "W-WED")
pd.Period("2015-12-10", freq = "10D")

dates = ["2016-01-01", "2016-02-01", "2016-02-01"]
pd.PeriodIndex(dates, freq = "W-MON")
weeks = pd.PeriodIndex(dates, freq = "W-MON")

pd.Series([999, 500, 325], index = weeks, name = "Weekly Revenue")

2015-12-29/2016-01-04    999
2016-01-26/2016-02-01    500
2016-01-26/2016-02-01    325
Freq: W-MON, Name: Weekly Revenue, dtype: int64

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [27]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [28]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [29]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the `pd.date_range()` Method, Part 2

In [30]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [31]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The `.dt` Accessor

In [32]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [33]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [34]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

In [36]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [38]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.585033
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948723
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956448

In [39]:
stocks.values
stocks.columns
stocks.index[0]
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2014, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [40]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.585039
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948721
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956455

In [41]:
stocks.loc["2014-03-04"]
stocks.iloc[300]

High         2.585000e+01
Low          2.536000e+01
Open         2.541000e+01
Close        2.568000e+01
Volume       4.990580e+07
Adj Close    2.040462e+01
Name: 2011-03-11 00:00:00, dtype: float64

In [43]:
"2016-01-01" in stocks.index

False

In [42]:
stocks.loc["2016-01-01"]

KeyError: '2016-01-01'

In [44]:
stocks.loc["2013-10-01" : "2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.629833
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.919710
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.868557
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.885614
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.391113

In [45]:
birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))

In [46]:
mask = stocks.index.isin(birthdays)

In [47]:
mask

array([False, False, False, ..., False, False, False])

In [48]:
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-12  30.490000  30.209999  30.250000  30.320000  37068800.0  23.570940
2011-04-12  25.850000  25.549999  25.830000  25.639999  36920400.0  20.372826
2012-04-12  31.040001  30.420000  30.480000  30.980000  38304000.0  25.286707
2013-04-12  29.020000  28.660000  28.850000  28.790001  62886300.0  24.204462
2016-04-12  54.779999  53.759998  54.369999  54.650002  24944300.0  49.901535
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  61.128750

## `Timestamp` Object Attributes

In [49]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.585032
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948719
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956453

In [50]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [53]:
print(someday.day)
print(someday.month)
print(someday.year)
#someday.weekday_name
print(someday.is_month_end)
print(someday.is_month_start)

23
12
2011
False
False

In [54]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [55]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [56]:
stocks[stocks["Is Start of Month"]]

,High,Is Start of Month,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-02-01,28.480000,True,27.920000,28.389999,28.410000,85931100.0,21.983299
2010-03-01,29.049999,True,28.530001,28.770000,29.020000,43805400.0,22.560316
2010-04-01,29.540001,True,28.620001,29.350000,29.160000,74768100.0,22.669151
2010-06-01,26.309999,True,25.520000,25.530001,25.889999,76152400.0,20.217855
2010-07-01,23.320000,True,22.730000,23.090000,23.160000,92239400.0,18.085962
...,...,...,...,...,...,...,...
2017-06-01,70.610001,True,69.449997,70.239998,70.099998,21603600.0,66.069107
2017-08-01,73.419998,True,72.489998,73.099998,72.580002,22132300.0,68.406487
2017-09-01,74.739998,True,73.639999,74.709999,73.940002,21736200.0,70.059578
2017-11-01,83.760002,True,82.879997,83.680000,83.180000,22307400.0,78.814659
2017-12-01,84.809998,True,83.220001,83.599998,84.260002,29532100.0,80.238945

## The `.truncate()` Method

In [57]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.585037
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948719
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956459

In [58]:
stocks.truncate(before = "2012-06-07", after = "2013-02-28")

                 High        Low       Open      Close      Volume  Adj Close
Date
2012-06-07  29.700001  29.170000  29.639999  29.230000  37792800.0  24.014860
2012-06-08  29.680000  29.049999  29.209999  29.650000  42551100.0  24.359922
2012-06-11  29.809999  28.820000  29.730000  28.900000  46361900.0  23.743742
2012-06-12  29.299999  28.840000  29.100000  29.290001  35337900.0  24.064156
2012-06-13  29.440001  29.049999  29.219999  29.129999  32984600.0  23.932699
...               ...        ...        ...        ...         ...        ...
2013-02-22  27.760000  27.480000  27.680000  27.760000  31425900.0  23.338524
2013-02-25  28.049999  27.370001  27.969999  27.370001  48011800.0  23.010639
2013-02-26  27.600000  27.340000  27.379999  27.370001  49923300.0  23.010639
2013-02-27  28.000000  27.330000  27.420000  27.809999  36394700.0  23.380560
2013-02-28  27.969999  27.740000  27.879999  27.799999  35840200.0  23.372147

[182 rows x 6 columns]

## `pd.DateOffset` Objects

In [59]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813290  49.982655  44871361.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942874.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342897.0  54.495735

In [60]:
stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2010-05-01 03:42:00', '2010-05-02 03:42:00',
               '2010-05-05 03:42:00', '2010-05-06 03:42:00',
               '2010-05-07 03:42:00', '2010-05-08 03:42:00',
               '2010-05-09 03:42:00', '2010-05-12 03:42:00',
               '2010-05-12 03:42:00', '2010-05-13 03:42:00',
               ...
               '2027-07-10 03:42:00', '2027-07-11 03:42:00',
               '2027-07-13 03:42:00', '2027-07-14 03:42:00',
               '2027-07-15 03:42:00', '2027-07-16 03:42:00',
               '2027-07-17 03:42:00', '2027-07-20 03:42:00',
               '2027-07-21 03:42:00', '2027-07-22 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=4339, freq=None)

## More Fun with `pd.DateOffset` Objects

In [61]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [135]:
stocks = data.DataReader(name = "GOOG", data_source = "google",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())

stocks.head(3)

             Open   High    Low  Close  Volume
Date
2004-08-19  49.96  51.98  47.93  50.12     NaN
2004-08-20  50.69  54.49  50.20  54.10     NaN
2004-08-23  55.32  56.68  54.47  54.65     NaN

In [151]:
stocks.index - MonthEnd()
stocks.index - BMonthEnd()
stocks.index - QuarterEnd()
stocks.index - QuarterBegin()

/Users/borisp/anaconda/envs/3.5/lib/python3.5/site-packages/pandas/tseries/index.py:814: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01',
               ...
               '2016-09-01', '2016-09-01', '2016-09-01', '2016-09-01',
               '2016-09-01', '2016-09-01', '2016-09-01', '2016-09-01',
               '2016-09-01', '2016-09-01'],
              dtype='datetime64[ns]', name='Date', length=3041, freq=None)

In [157]:
stocks.index - YearBegin()

DatetimeIndex(['2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=3041, freq=None)

## The `Timedelta` Object

In [215]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [219]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [217]:
type(timeA - timeB)

pandas.tslib.Timedelta

In [218]:
type(timeA)

pandas.tslib.Timestamp

In [227]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [226]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## `Timedeltas` in a Dataset

In [240]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [243]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [244]:
shipping.head(3)

   order_date delivery_date  Delivery Time
ID
1  1998-05-24    1999-02-05       257 days
2  1992-04-22    1998-03-06      2144 days
4  1991-02-10    1992-08-26       563 days

In [249]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [250]:
shipping.head(3)

   order_date delivery_date  Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05       257 days    1999-10-20
2  1992-04-22    1998-03-06      2144 days    2004-01-18
4  1991-02-10    1992-08-26       563 days    1994-03-12

In [251]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [257]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date  Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16      3423 days    2008-12-29

In [260]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')