In [2]:
import pandas as pd
import numpy as np

## Changing Options with Attributes and Dot Syntax

In [3]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,62,95,77,40,11,63,64,34,22,77,...,69,25,93,80,54,54,56,23,99,68
999,9,96,33,25,68,28,21,33,7,84,...,91,73,8,70,54,71,91,73,62,81

In [4]:
pd.options.display.max_rows = 4

In [5]:
pd.options.display.max_columns = 8

In [6]:
df

     0   1   2   3   ...  46  47  48  49
0    80  42  20  78  ...  63  54  12  68
1    95  84  49  66  ...  92  58  16  55
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998  62  95  77  40  ...  56  23  99  68
999   9  96  33  25  ...  91  73  62  81

[1000 rows x 50 columns]

## Changing `pandas` Options with Methods

In [7]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3   ...  46  47  48  49
998  19  41  40  70  ...   9  16  32  78
999  58  61  94   2  ...   6   6  46  14

[2 rows x 50 columns]

In [8]:
pd.get_option("max_rows")

4

In [9]:
pd.get_option("max_columns")

8

In [10]:
pd.set_option("max_columns", 20)

In [11]:
pd.options.display.max_columns = 10

In [12]:
pd.get_option("mAX_columns")

10

In [13]:
pd.reset_option("max_columns")

In [14]:
pd.get_option("max_columns")

20

In [15]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The `precision` Option

In [16]:
df = pd.DataFrame(np.random.randn(5, 5))
df

           0         1         2         3         4
0   2.214416 -1.689747 -0.120106 -0.661189 -0.467327
1   0.354249 -1.438414 -0.724320 -0.879100 -0.630029
..       ...       ...       ...       ...       ...
3   0.392978  2.831962 -0.431357  1.584709  0.002832
4  -0.144353  0.186371  1.004206  0.321010 -0.459768

[5 rows x 5 columns]

In [17]:
pd.get_option("precision")

6

In [18]:
pd.set_option("precision", 2)

In [19]:
df

       0     1     2     3         4
0   2.21 -1.69 -0.12 -0.66 -4.67e-01
1   0.35 -1.44 -0.72 -0.88 -6.30e-01
..   ...   ...   ...   ...       ...
3   0.39  2.83 -0.43  1.58  2.83e-03
4  -0.14  0.19  1.00  0.32 -4.60e-01

[5 rows x 5 columns]

In [20]:
pd.reset_option("precision")

## The `chop_threshold()` Option

In [21]:
df = pd.DataFrame(np.random.randn(10, 10))
df

,0,1,2,3,4,5,6,7,8,9
0,-2.238101,0.914044,0.114379,-1.002792,-1.136879,1.150955,0.463115,-0.150267,-2.077817,-0.311036
1,-2.077214,-2.247817,0.037939,-0.189268,1.748242,1.036511,-0.426370,-0.041309,-1.478609,0.055561
...,...,...,...,...,...,...,...,...,...,...
8,0.286420,-0.710091,2.059065,-2.661459,1.903322,-0.677093,0.036208,1.545319,-0.658475,-0.967982
9,0.618058,2.135009,0.777286,-0.535471,-0.501206,1.233188,0.721932,0.812908,-0.068514,-0.225122

In [22]:
pd.set_option("chop_threshold", 1)

In [23]:
pd.reset_option("chop_threshold")

In [24]:
df

,0,1,2,3,4,5,6,7,8,9
0,-2.238101,0.914044,0.114379,-1.002792,-1.136879,1.150955,0.463115,-0.150267,-2.077817,-0.311036
1,-2.077214,-2.247817,0.037939,-0.189268,1.748242,1.036511,-0.426370,-0.041309,-1.478609,0.055561
...,...,...,...,...,...,...,...,...,...,...
8,0.286420,-0.710091,2.059065,-2.661459,1.903322,-0.677093,0.036208,1.545319,-0.658475,-0.967982
9,0.618058,2.135009,0.777286,-0.535471,-0.501206,1.233188,0.721932,0.812908,-0.068514,-0.225122